.profile {
    max-width: 880px;
    display: flex;
    margin: 40px auto 51px;
}

@media screen and (max-width: 1023px) {
  .profile {
    max-width: 712px;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    max-width: 680px;
  }
}


@media screen and (max-width: 680px) {
    .profile {
      max-width: 612px;
      flex-direction: column;
      margin-top: 42px;
      margin-bottom: 36px;
    }
  }