.profile__edit {
    max-width: 24px;
    min-height: 24px;
    margin: 0;
    margin-left: 25px;
    align-self: center;
    background-color: #000;
    border: 1px solid #fff;
}
.profile__edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .profile__edit {
        margin-right: auto;
        margin-left: 15px;
    }
    
}